# python3.8.5
Django==3.1.4
djangorestframework==3.12.2
psycopg2==2.8.6
django-apscheduler==0.5.1
requests==2.25.0
daphne==3.0.1
django-redis==4.12.1
lxml==4.6.2
beautifulsoup4==4.9.3
opencv-python==4.4.0.46

# numpy==1.19.4
